@charset "UTF-8";

/* 変数の定義 */
:root {
  --min-width: 375px;
  --mobile-point: 700px; /* スマートフォン375 */
  --tablet-vertical: 700px; /*タブレット縦置き*/
  --tablet-horizontal: 1100px; /* タブレット横置き */
  --link-btn-color: #d5381b; /* FVボタンの色 */
  --link-btn-text-color: #ffffff; /* FVボタンの文字の色 */
  --fv-text-underline-color: #d5381b;
  --servicename-text-color: #4fb7da;
  --text-dot-color: #d5381b;
  --happyvoice-color: #4fb7da;
  --solition-color: #4fb7dab3;
  --caret-down_color: #d5381b;
  --form_color: #4fb7da4d;
}
html {
  font-size: clamp(10px, 1.45vw, 16px);
}
body {
  font-family: “Lucida Grande”, ”Noto Sans JP”, “Noto Sans CJK JP”,
    “Hiragino Kaku Gothic ProN”, sans-serif;
}
main {
  max-width: 1920px;
  margin: 0 auto;
}
.sp_select {
  display: none;
}
.pc_select {
  display: contents;
}
header {
  height: clamp(1px, 67.1vw, 738px);
  background-image: url(../images/firstview.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: clamp(1px, 174.54vw, 1920px) clamp(1px, 67.1vw, 738px);
}
/* firstview */
.fv__text {
  width: clamp(1px, 100vw, 1100px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.fv__text h1 {
  position: absolute;
  top: clamp(1px, 18vw, 200px);
  left: clamp(1px, 2vw, 20px);
  font-size: 4.25rem;
  color: white;
  font-weight: bold;
  line-height: 4.5rem;
}
.fv__text h1 ::after {
  content: '';
  width: clamp(1px, 20.8vw, 256px);
  height: clamp(1px, 1.45vw, 13px);
  display: inline-block;
  background-color: var(--fv-text-underline-color);
  position: absolute;
  bottom: clamp(1px, 0.91vw, 10px);
  left: 2%;
  z-index: -1;
}
.fv__text h1 .h1__s {
  font-size: 2.9rem;
}
.fv__text h2 {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  top: clamp(1px, 4.91vw, 54px);
  left: clamp(1px, 3.82vw, 42px);
  font-size: 1.25rem;
  color: white;
  line-height: 1.7rem;
}
.fv__text h3 {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  top: clamp(1px, 37.1vw, 408px);
  left: clamp(1px, 9.45vw, 104px);
  font-size: 2rem;
  color: white;
  line-height: 2.1rem;
  letter-spacing: -0.05rem;
}
.fv__text h3 .h3__s {
  font-size: 1.25rem;
}
.fv__text h3 .h3__wo {
  margin-left: -0.9rem;
}
.fv__text h3 .sp_2 {
  margin-left: 2rem;
}
.fv__text .link__btn {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  top: clamp(1px, 49.09vw, 540px);
  left: clamp(1px, 9.45vw, 104px);
  background-color: var(--link-btn-color);
  border-radius: clamp(1px, 3.91vw, 43px);
  font-size: 1.6rem;
  padding: clamp(1px, 2.18vw, 24px) clamp(1px, 9.45vw, 104px)
    clamp(1px, 2.18vw, 24px) clamp(1px, 3.63vw, 40px);
  color: var(--link-btn-text-color);
  vertical-align: middle;
  box-shadow: 0.33rem 0.33rem 0.625rem -0.33rem black;
}
.fv__text .link__btn img {
  position: absolute;
  top: clamp(1px, 2.72vw, 30px);
  left: clamp(1px, 23.27vw, 256px);
  width: clamp(1px, 5.45vw, 60px);
}
/* introduction */
.introduction {
  max-width: var(--tablet-horizontal);
  margin: 0 auto clamp(1px, 9.45vw, 104px);
  text-align: center;
}
.introduction h2 {
  color: black;
  font-size: 1.25rem;
  margin-bottom: clamp(1px, 2.18vw, 24px);
}
.introduction h2 span {
  color: var(--servicename-text-color);
  font-size: 1.5rem;
}
.introduction h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.introduction h3 span {
  text-emphasis: circle var(--text-dot-color);
}
/*  */
.recommends {
  display: flex;
  font-size: 1.125rem;
}
.recommend {
  width: clamp(1px, 32.72vw, 360px);
  height: clamp(1px, 36.36vw, 400px);
  margin: 0 auto;
  text-align: center;
  color: white;
}
.recommend__text_1 {
  margin-top: clamp(-350px, -31.82vw, 1px);
}
.recommend__text_2 {
  margin-top: clamp(-340px, -30.91vw, 1px);
}
.recommend__text_3 {
  margin-top: clamp(-340px, -30.91vw, 1px);
}
.recommend img {
  width: clamp(1px, 32.72vw, 360px);
}
/* happyvoice */
.happyvoice {
  height: clamp(1px, 60vw, 660px);
  background-color: var(--happyvoice-color);
  text-align: left;
}
.happyvoice .happyvoice__img {
  max-width: var(--tablet-horizontal);
  margin: 0 auto;
  text-align: center;
}
.happyvoice .happyvoice__img h2 img {
  width: clamp(1px, 26.18vw, 288px);
  height: clamp(1px, 16.36vw, 180px);
  margin-top: clamp(-75px, -6.82vw, 1px);
}
.happyvoice .happyvoice__img h3 {
  color: white;
  font-size: 2rem;
  margin: clamp(-104px, -9.452vw, 1px) auto;
  letter-spacing: 0.1rem;
}
.happyvoice .happyvoice__img h3 span {
  font-size: 3.75rem;
}
.voices {
  max-width: var(--tablet-horizontal);
  margin: 0 auto;
  display: flex;
}
.voice {
  width: clamp(1px, 26.18vw, 288px);
  margin: clamp(1px, 14.55vw, 160px) auto;
  text-align: center;
}
.face {
  width: clamp(1px, 14.55vw, 160px);
  height: clamp(1px, 14.55vw, 160px);
  margin: clamp(1px, 2.18vw, 24px) auto;
}
.comment {
  width: clamp(1px, 26.64vw, 293px);
  height: clamp(1px, 20.73vw, 228px);
  margin: 0 auto;
}
.voice__text {
  width: 90%;
  height: clamp(1px, 20.73vw, 228px);
  margin: clamp(-200px, -18.18vw, -1px) auto;
  font-size: 1rem;
}
.voice__text .name {
  margin: 0.8rem;
}
.voice__text .score span {
  font-size: 1.5rem;
}
.voice__text .text_long {
  margin-top: clamp(1px, 1.45vw, 16px);
  line-height: 1.5rem;
  text-align: justify;
}
/*  */
.solutions {
  max-width: var(--tablet-horizontal);
  margin: clamp(1px, 9.45vw, 104px) auto 0;
  text-align: center;
}
.solutions h2 {
  font-size: 1.5rem;
  margin-bottom: clamp(1px, 2.18vw, 24px);
}
.solutions h3 {
  font-size: 2rem;
}
.solutions h3 span {
  font-size: 3.75rem;
  font-weight: bold;
  color: var(--fv-text-underline-color);
}
.solutions img {
  margin: clamp(1px, 1.82vw, 20px) auto clamp(1px, 2.91vw, 32px);
  width: clamp(1px, 43.64vw, 480px);
}
.anxieties {
  display: block;
}
.anxiety {
  width: clamp(1px, 74.18vw, 816px);
  height: clamp(1px, 21.82vw, 240px);
  margin: 0 auto clamp(1px, 12.36vw, 136px);
}
.anxiety h4 {
  margin-left: clamp(-40px, -3.64vw, 1px);
  font-size: 1.875rem;
  text-align: left;
  display: flex;
  align-items: center;
  position: relative;
}
.anxiety h4 span {
  margin-right: clamp(1px, 1.82vw, 20px);
  font-size: 4.75rem;
  font-weight: bold;
  font-style: italic;
  color: var(--fv-text-underline-color);
}
.anxiety h4::before {
  content: '';
  width: clamp(1px, 8.73vw, 96px);
  height: 0.375rem;
  display: inline-block;
  background-color: white;
  position: absolute;
  bottom: clamp(1px, 1.09vw, 12px);
  left: clamp(1px, 10.33vw, 124px);
}
.anxiety .anxiety__text {
  width: clamp(1px, 74.18vw, 816px);
  height: clamp(1px, 21.82vw, 240px);
  background-color: var(--solition-color);
  margin: clamp(-45px, -4.09vw, 1px) auto 0;
  padding: clamp(1px, 5.45vw, 60px) clamp(1px, 4.09vw, 45px) 0
    clamp(1px, 6vw, 66px);
  font-size: 1.125rem;
  line-height: 1.8rem;
  text-align: justify;
}
.anxiety .anxiety__text span {
  background-color: white;
}
.solutions__area {
  width: 100%;
  font-size: 2rem;
  color: var(--caret-down_color);
  text-align: center;
}
.solutions__area p {
  font-size: 1.5rem;
}
.solutions__message {
  width: clamp(1px, 73.45vw, 808px);
  height: clamp(1px, 6.55vw, 72px);
  margin: clamp(1px, 6.41vw, 64px) auto;
  padding-top: clamp(1px, 1.45vw, 16px);
  font-size: 1.875rem;
  font-weight: bold;
  border: var(--caret-down_color) solid 0.55rem;
  border-radius: clamp(1px, 3.27vw, 36px);
}
.solutions__worry {
  margin-top: clamp(1px, 9.45vw, 104px);
  display: flex;
  text-align: left;
}
.worry_img {
  margin: clamp(1px, 13.1vw, 144px) 0 0 clamp(1px, 26.18vw, 288px);
}
.worry_img img {
  width: clamp(1px, 14.18vw, 156px);
  margin: 0;
}
.bubble_img img {
  width: clamp(1px, 32.18vw, 354px);
  margin: 0;
}
.bubble_img p {
  margin: clamp(-168px, -15.27vw, 1px) 0 0 clamp(1px, 5.82vw, 64px);
  font-size: 1.5rem;
  color: white;
}
.bubble_img p span {
  text-emphasis: circle var(--text-dot-color);
}
.foryou {
  width: 100%;
}
.foryou img {
  width: clamp(1px, 34.82vw, 383px);
  height: clamp(1px, 4.45vw, 49px);
  margin: clamp(1px, 1.45vw, 16px) auto 0;
}
.present {
  max-width: var(--tablet-horizontal);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-image: url(../images/label.png);
}
.present h2 {
  padding-top: clamp(1px, 2.55vw, 28px);
  padding-left: clamp(1px, 23.27vw, 256px);
  margin-bottom: clamp(1px, 5.09vw, 56px);
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.present h2 span {
  font-size: 2.31rem;
  font-weight: normal;
}
.present__img {
  margin-bottom: clamp(1px, 2.18vw, 24px);
  display: flex;
  font-size: 1.5rem;
}
.present__img img {
  width: clamp(1px, 18.82vw, 207px);
  margin-left: clamp(1px, 15.45vw, 170px);
}
.present__img p {
  margin-top: clamp(1px, 7.27vw, 80px);
  margin-left: clamp(1px, 2.18vw, 24px);
}
.present__img .down {
  margin-top: clamp(1px, 3.27vw, 36px);
  margin-left: 0;
  text-align: center;
  font-size: 1.5rem;
  color: var(--caret-down_color);
}
.points {
  height: clamp(1px, 36.36vw, 400px);
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.point {
  width: clamp(1px, 19.09vw, 210px);
  margin: clamp(1px, 4.55vw, 50px);
  font-size: 1.127rem;
}
.point .point_box {
  height: clamp(1px, 4.36vw, 48px);
  padding-top: clamp(1px, 1.09vw, 12px);
  background-color: var(--text-dot-color);
  border-radius: clamp(1px, 1.45vw, 8px);
  color: white;
  font-size: 1.5rem;
}
.point img {
  width: clamp(1px, 16.73vw, 184px);
  margin: clamp(1px, 1.1vw, 12px) auto clamp(1px, 1.1vw, 12px);
}
/*  */
.message {
  max-width: var(--tablet-horizontal);
  margin: clamp(1px, 14.55vw, 160px) auto 0;
}
.message img {
  margin-left: clamp(1px, 2.73vw, 30px);
  width: clamp(1px, 16.64vw, 205px);
}
.message__area {
  margin-top: clamp(-36px, -3.27vw, -1px);
  height: clamp(1px, 39.09vw, 430px);
  border: var(--happyvoice-color) solid;
  border-width: clamp(1px, 2.18vw, 24px) clamp(1px, 4.36vw, 48px);
  display: flex;
}
.message__img {
  width: 23%;
}
.message__img img {
  width: clamp(1px, 16.09vw, 177px);
  margin-top: clamp(1px, 4.73vw, 52px);
}
.message__text {
  width: 77%;
}
.message__text .message_title {
  margin: clamp(1px, 14.55vw, 16px) 0 clamp(1px, 14.55vw, 16px);
  font-size: 1.5rem;
}
.message__text h3 {
  margin-bottom: clamp(1px, 2.9vw, 32px);
  font-size: 2.25rem;
}
.message__text p {
  width: clamp(1px, 64.55vw, 710px);
  line-height: 1.4rem;
  text-align: justify;
}
.message_step {
  text-align: center;
}
.message_step img {
  width: clamp(1px, 32.55vw, 358px);
  margin: clamp(1px, 18.18vw, 200px) 0 0;
}
.message_step h3 {
  font-size: 1.5rem;
  margin: clamp(-16px, -1.45vw, -1px) 0 clamp(1px, 2.18vw, 24px);
}
.message_step p {
  font-size: 3rem;
  font-weight: bolder;
}
/*  */
.steps_area {
  display: flex;
}
.step_area {
  width: clamp(1px, 31.27vw, 344px);
  margin: clamp(1px, 3.64vw, 40px) auto 0;
  text-align: left;
}
.step_area:not(:last-child):after {
  content: '▼';
  margin: clamp(-85px, -7.73vw, -1px) 0 0 clamp(1px, 35vw, 385px);
  font-size: 1.5rem;
  display: block;
  color: var(--caret-down_color);
  transform: rotate(-90deg);
}
.step_area img {
  width: clamp(1px, 31.27vw, 344px);
  margin: 0;
}
.step_area p {
  margin: clamp(-205px, -18.63vw, -1px) 0 0 clamp(-235px, -21.36vw, -1px);
  color: var(--text-dot-color);
  text-align: center;
  font-size: 1rem;
}
.step_area p span {
  font-size: 2.81rem;
}
.step_text {
  height: clamp(1px, 15vw, 165px);
  display: flex;
  align-items: center;
  margin: clamp(-30px, -2.73vw, -1px) 0 0 clamp(1px, 7.27vw, 80px);
}
.step_text p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
  color: white;
}
/* form */
#form {
  max-width: var(--tablet-horizontal);
  height: clamp(1px, 83.63vw, 920px);
  margin: clamp(1px, 10.91vw, 120px) auto 0;
  display: block;
  background-color: var(--form_color);
  border-radius: clamp(1px, 0.91vw, 10px);
  text-align: center;
}
#form img {
  width: clamp(1px, 52.09vw, 573px);
  margin-top: clamp(-50px, -4.55vw, -1px);
}
#form h2 {
  width: 100%;
  color: white;
  margin-top: clamp(-90px, -8.18vw, -1px);
  font-size: 2rem;
}
.form__area {
  width: clamp(1px, 37.82vw, 416px);
  margin: clamp(1px, 18.18vw, 200px) auto 0;
  text-align: left;
}
#subscribe {
  width: 100%;
}
#subscribe p {
  margin-bottom: clamp(1px, 0.73vw, 8px);
  width: 100%;
  font-size: 1.375rem;
  color: black;
}
#subscribe input {
  width: 100%;
  height: clamp(1px, 5.82vw, 64px);
  margin-bottom: clamp(1px, 4.55vw, 50px);
  font-size: 2rem;
  border: black solid 1px;
  border-radius: 3px;
  background-color: white;
}
#subscribe .send_btn {
  width: clamp(1px, 55.27vw, 608px);
  height: clamp(1px, 8vw, 88px);
  margin-left: clamp(-90px, -8.18vw, -1px);
  color: white;
  font-size: 1.875rem;
  background: linear-gradient(
    to top,
    #d22302,
    #d5381b 22%,
    #f1573b 54%,
    #fbdbd6
  );
  border: white 1px solid;
  border-radius: clamp(1px, 4vw, 44px);
  box-shadow: 5px 5px 5px gray;
  display: inline;
}
#subscribe img {
  width: clamp(1px, 8.18vw, 90px);
  position: absolute;
  top: clamp(1px, 7.55vw, 83px);
  left: clamp(1px, 33.64vw, 370px);
}
#subscribe .btn_arrow {
  position: relative;
  display: inline-block;
}
.last_message {
  margin-top: clamp(1px, 6.55vw, 72px);
}

/* レスポンシブ対応 */
@media screen and (max-width: 700px) {
  html {
    font-size: clamp(10px, 2.66vw, 30px);
  }
  main {
    min-width: var(--min-width);
  }
  .sp_select {
    display: contents;
  }
  .pc_select {
    display: none;
  }
  /* header */
  header {
    height: clamp(402px, 107.2vw, 1100px);
    background-image: url(../images/fv-sp.png);
    background-position: top left;
    background-size: clamp(375px, 100vw, 1100px) clamp(402px, 107.2vw, 1100px);
  }
  .fv__text {
    width: clamp(375px, 100vw, 1100px);
  }
  .fv__text h1 {
    top: clamp(130px, 34.67vw, 1100px);
    left: clamp(30px, 8vw, 1100px);
    font-size: 2.8rem;
    line-height: 3rem;
  }
  .fv__text h1 ::after {
    width: clamp(110px, 29.33vw, 1100px);
    height: clamp(8px, 2.13vw, 1100px);
    bottom: clamp(10px, 0.57vw, 1100px);
    left: 0.5%;
  }
  .fv__text h1 .h1__s {
    font-size: 1.3rem;
  }
  .fv__text h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    top: clamp(30px, 8vw, 1100px);
    left: clamp(25px, 6.67vw, 1100px);
  }
  .fv__text h3 {
    top: clamp(316px, 84.27vw, 1100px);
    left: clamp(18px, 4.8vw, 1100px);
    font-size: 1.8rem;
    color: black;
    text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white,
      0px 0px 5px white, 0px 0px 5px white;
    line-height: 2rem;
    letter-spacing: -0.1rem;
  }
  .fv__text h3 .h3__s {
    font-size: 1.2rem;
  }
  .fv__text .link__btn {
    top: clamp(360px, 96vw, 1100px);
    left: clamp(40px, 10.67vw, 1100px);
    padding: clamp(12px, 3.2vw, 1100px) clamp(58px, 15.47vw, 1100px)
      clamp(12px, 3.2vw, 1100px) clamp(24px, 6.4vw, 1100px);
    border-radius: clamp(20px, 5.33vw, 1100px);
    font-size: 1.6rem;
  }
  .fv__text .link__btn img {
    top: clamp(18px, 4.8vw, 1100px);
    left: clamp(158px, 42.13vw, 1100px);
    width: clamp(28px, 7.47vw, 1100px);
  }
  /* introduction */
  .introduction {
    min-width: var(--min-width);
    margin-top: clamp(56px, 14.93vw, 1100px);
  }
  .introduction h2 {
    font-size: 1.6rem;
  }
  .introduction h2 span {
    font-size: 1.8rem;
  }
  .introduction h3 {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .recommends {
    display: block;
    width: 100%;
    font-size: 1.6rem;
  }
  .recommend {
    width: clamp(320px, 85.33vw, 1100px);
    height: clamp(90px, 24vw, 1100px);
    margin: 0 auto;
    text-align: left;
  }
  .recommend img {
    width: clamp(320px, 85.33vw, 1100px);
  }
  .recommend__text_1 {
    margin-top: clamp(-1000px, -15.2vw, -57px);
    margin-left: clamp(125px, 33.33vw, 1100px);
  }
  .recommend__text_2 {
    margin-top: clamp(-1000px, -13.33vw, -50px);
    margin-left: clamp(25px, 6.67vw, 1100px);
  }
  .recommend__text_3 {
    margin-top: clamp(-1000px, -13.33vw, -50px);
    margin-left: clamp(125px, 33.33vw, 1100px);
  }

  /* jappyvoice */
  .happyvoice {
    height: clamp(699px, 185.6vw, 99999px);
    margin-top: 104px;
  }
  .happyvoice .happyvoice__img {
    min-width: var(--min-width);
    margin: 0 auto;
    text-align: center;
  }
  .happyvoice .happyvoice__img h2 img {
    width: clamp(140px, 37.33vw, 1100px);
    height: clamp(90px, 24vw, 1100px);
    margin-top: clamp(-1000px, -12vw, -45px);
  }
  .happyvoice .happyvoice__img h3 {
    margin-top: clamp(-1000px, -10.67vw, -40px);
    margin-bottom: clamp(-1000px, -4.27vw, -16px);
    font-size: 1.8rem;
    letter-spacing: 0;
    line-height: 2rem;
  }
  .happyvoice .happyvoice__img h3 span {
    font-size: 1.8rem;
  }
  .voices {
    min-width: var(--min-width);
    display: block;
  }
  .voice {
    display: flex;
    width:  clamp(302px, 80.53vw, 1100px);
    margin: clamp(30px, 8vw, 1100px)30px auto;
  }
  .voice__img_area{
    width:  clamp(86px, 22.93vw, 1100px);
    display: block;
  }
  .voice__text{
    width: clamp(211px, 56.27vw, 1100px);
    height: clamp(171px, 45.6vw, 1100px);
    margin: 0;
  }
  .voice__text img{
    width: clamp(211px, 56.27vw, 1100px);
    height: clamp(171px, 45.6vw, 1100px);
  }
  .voice__text .text_long{
    width: 86%;
    margin: 0 auto;
    margin-top:  clamp(-1000px, -37.33vw, -140px);
    font-size: 1.6rem;
    text-align: justify;
    line-height: 2.2rem;
  }
}
